<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Edicion Departamento</h3>
    <form (ngSubmit)="onSubmit()" #departamentForm="ngForm">
        <div class="form-group">
            <label>Nombre: </label>
            <input type="text" class="form-control" id="name" [(ngModel)]="departament.name" name="name">            
        </div>
        <div class="form-group">
            <label>Descripcion: </label>
            <input type="text" class="form-control" id="description" [(ngModel)]="departament.description" name="description">            
        </div>
        <div class="form-group">
            <label>Telefono: </label>
            <input type="text" class="form-control" id="phone" [(ngModel)]="departament.phone" name="phone">            
        </div>
        <div class="form-group">
            <label>Estado: </label>
            <input type="text" class="form-control" id="status" [(ngModel)]="departament.status" name="status">            
        </div>
        <div class="form-group">
            <label>Empresa: </label>
            <input type="text" class="form-control" id="enterprise" [(ngModel)]="departament.enterprise.name" name="enterprise">            
        </div>

        
        <button class="btn btn-success" [disabled]= "!departamentForm.form.valid">Guardar1</button>
        
    </form>
</div>