<div class="formularioRegistro">
    <h2>Crear Departamento</h2>
    <form [formGroup]="departamentForm" (ngSubmit)="guardar()">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" formControlName="name" class="form-control">
        </div>
        <div class="form-group">
            <label>Descripcion</label>
            <input type="text" formControlName="description" class="form-control">
        </div>
        <div class="form-group">
            <label>Telefono</label>
            <input type="text" formControlName="phone" class="form-control">
        </div>
        <div class="form-group">
            <label>Estado</label>
            <input type="text" formControlName="status" class="form-control">
        </div>
        <div class="form-group">
            <label>Empresa</label>
            <select name="enterprise" id="enterprise" formControlName="enterprise" class="form-control">
                <option [ngValue]="item" *ngFor="let item of enterprises">{{item.name}}</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="departamentForm.invalid">Guardar</button>

    </form>
</div>

<div class="formularioRegistro">
    <h2>Lista Departamentos</h2>
    <table class="table">
        <thead>
            <tr>                
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Telefono</th>
                <th>Estado</th>
                <th>Empresa</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of departaments">
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.status}}</td>
                <td>{{item.enterprise.name}}</td>
                <td>
                    <button type="button" class="btn btn-success" (click)="editar(item)">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<router-outlet></router-outlet>